*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff8e1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h1{
    color: #d32f2f;
    margin-top: 20px;
}

/* Classes Sobreescritas */
.card img{
    object-fit: cover;
    height: 15rem;
}

.card-group .card{
    margin: 0px 10px;
}

/* Classes criadas */
.card-carrossel{
    object-fit: cover;
    height: 42rem;
}


/*  Configurando o display das informações  */

#info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
h1{
    text-align: center;
    font-weight: 800
}

article h1, article h3{
    font-weight: 800;
}

.info-card{
    border: 1px solid rgb(0, 255, 255);
    width: 80%;
    display: flex;
    margin: 10px 0px 10px 0px;
}

.info-card div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

/* Implementar o @media */
.info-card img{
    height: 400px;
    width: 500px;
    object-fit:fill;
}

.promo-line{
    border-bottom: red;
}

.cards-promocionais{
    text-align: left;
}

.cards-promocionais h5{
    font-weight: 800;
}

.footer-menu{
    margin-top: 20px;
}

/* ========= Segunda Página ========= */

section{
    margin-bottom: 10px;
}